/* Estilo para o título "Ferramentas" */
.seção-ferramenta h2:first-of-type {
    text-align: center;
    font-size: 2.5rem;
    color: rgba(97, 153, 85, 1);
    position: relative; /* Necessário para posicionamento da barra */
}

.seção-ferramenta h2:first-of-type::before {
    content: ''; /* Cria um elemento vazio */
    position: absolute;
    left: -20px; /* Ajuste da posição da barra à esquerda */
    top: 0;
    height: 100%; /* A altura será a altura do título */
    width: 5px; /* Largura da barra */
    background-color: rgba(97, 153, 85, 1); /* Cor da barra */
}

/* Estilo para a seção Ferramentas */
.seção-ferramenta {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-family: 'Nunito', sans-serif;
}

/* Estilo para o título "Ferramentas" */
.seção-ferramenta h1:first-of-type {
    text-align: center;
    font-size: 2.5rem;
    color: rgba(97, 153, 85, 1);
}

/* Estilo do container principal da seção Ferramentas */
.seção-ferramenta .conteiner-ferramentas {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
}

/* Estilo da lista de ferramentas */
.seção-ferramenta ul {
    list-style-type: disc;  /* Mantém o estilo de lista */
    padding-left: 2rem;  /* Espaçamento à esquerda */
    font-size: 1.2rem;
    color: #444;
}

.seção-ferramenta ul li {
    margin-bottom: 0.5rem;  /* Espaço entre os itens da lista */
}

/* Estilo do container para a imagem de ferramentas */
.seção-ferramenta .img-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para a seção Relatórios */
.seção-ferramenta h1:nth-of-type(2) {
    text-align: center;
    font-size: 2.5rem;
    color: rgba(97, 153, 85, 1);
    margin-bottom: 1rem;
}

/* Ajuste da imagem do relatório */
.seção-ferramenta .imgrelatorio {
    max-width: 42%; /* Limita a largura da imagem */
    height: auto;
    border-radius: 8px;
    margin-right: 3rem; /* Espaçamento entre a imagem e o título */
}

/* Estilo do container da imagem e lista */
.seção-ferramenta .relatorio-container {
    display: flex;
    align-items:center;
    gap: 2rem;  /* Espaço entre a imagem e a lista */
    margin-bottom: 1rem;  /* Espaço abaixo da linha com a imagem e a lista */
}

/* Estilo para o título h2 */
.seção-ferramenta h2 {
    font-size: 1.8rem;
    color: rgba(56, 105, 46, 1);
    margin: 0;
    font-weight: 600;
    text-align: left;  /* Alinha o título à esquerda */
    margin-bottom: 0.5rem;  /* Espaçamento abaixo do título */
}
