/* -------------------------------------------
   SEÇÃO FERRAMENTAS
-------------------------------------------- */
.seção-ferramenta {
    background-color: #ffffff;
    padding: 50px 20px;
    text-align: center;
    max-width: 1200px; /* Ajuste para um máximo de largura */
    min-height: 600px; /* Garantir uma altura mínima */
    margin: 0 auto; /* Centraliza a seção */
}

.seção-ferramenta h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 33px;
    color: rgba(97, 153, 85, 1);
    margin-bottom: 30px;
    text-transform: uppercase;
}

.seção-ferramenta h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    color: rgba(97, 153, 85, 1);
    margin-bottom: 15px;
    padding: 30px 30px;
    text-align: left;
    text-transform: uppercase;
    border-left: 6px solid rgba(56, 105, 46, 1);
    margin-bottom: 3px;
}

/* Estilos para o container de ferramentas */
.conteiner-ferramentas {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.conteiner-ferramentas ul {
    list-style: none;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 27px;
    color: #853A10;
    text-align: left;
    margin: 0 20px;
}

.conteiner-ferramentas ul li {
    margin-bottom: 10px;
}

.img-container {
    flex: 1;
    text-align: center;
}

.img-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

/* Estilos para o container de relatórios */
.relatorio-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;
    align-items: center;
}

.relatorio-container img {
    max-width: 39%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.relatorio-container ul {
    list-style: none;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 27px;
    color: #853A10;
    text-align: left;
    margin: 0 20px;
}

.relatorio-container ul li {
    margin-bottom: 10px;
}

/* Ajuste para telas menores */
@media (max-width: 768px) {
    .conteiner-ferramentas,
    .relatorio-container {
        flex-direction: column;
        align-items: center;
    }

    .conteiner-ferramentas ul,
    .relatorio-container ul {
        text-align: center;
    }

    .img-container img,
    .relatorio-container img {
        max-width: 80%;
    }
}
