/* -------------------------------------------
   ESTILOS PARA O RODAPÉ
-------------------------------------------- */

/* Bloco principal do rodapé */
.footer__contato {
    background-color: rgba(56, 105, 46, 0.9); /* Opacidade ajustada para uma cor de fundo mais suave */
    color: #FFF;
    padding: 30px 0;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil para dar um destaque */
}

/* Elemento de contêiner do rodapé */
.footer__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}

/* Elementos internos do rodapé */
.footer__info, .footer__social, .footer__credits {
    flex: 1 1 300px;
    margin: 10px;
}

/* Títulos dentro de informações e social */
.footer__info-title, .footer__social-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ebf08c;
    line-height: 1.4; /* Melhorando o espaçamento entre as linhas */
}

/* Links dentro da seção de redes sociais */
.footer__social-link {
    color: #ebf08c;
    text-decoration: none;
    margin: 0 5px;
    transition: color 0.3s, text-decoration 0.3s; /* Transição suave */
}

/* Estado de hover para os links das redes sociais */
.footer__social-link--hover {
    text-decoration: underline;
    color: #fff; /* Altera a cor ao passar o mouse */
}

/* Créditos do rodapé */
.footer__credits {
    font-size: 14px;
    margin-top: 20px;
    color: #BBB;
    line-height: 1.5; /* Melhorando o espaçamento entre as linhas */
}

/* Modificadores para layouts responsivos */
@media (max-width: 768px) {
    .footer__container {
        flex-direction: column; /* Seções em coluna em telas pequenas */
        text-align: center;
    }

    .footer__info, .footer__social, .footer__credits {
        margin: 20px 0; /* Aumentando o espaçamento entre as seções */
    }
}