.header {
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff; /* Cor do fundo */
    color: #38692E; /* Cor do texto */
    padding: 10px 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10; /* Z-index para sobrepor o conteúdo */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil para destacar o cabeçalho */
    width: 100%;
    will-change: transform, opacity;
}

.header__content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Adicionando espaçamento nas laterais */
}

/* Media Query para dispositivos menores */
@media (max-width: 768px) {
    .header {
        padding: 5px 20px; /* Reduzir padding para diminuir a altura */
    }

    .header__content {
        flex-direction: row; /* Mantém os itens em linha */
        justify-content: space-between; /* Espaça os itens */
        align-items: center; /* Alinha verticalmente */
    }
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center; /* Alinha verticalmente */
}

.header__logo-img {
    width: 140px;
    max-width: 90%; /* Garante que a logo não ultrapasse o espaço disponível */
    height: auto;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-left: auto; /* Empurra os itens para a direita */
}

.header__nav-list {
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2px;
}

.header__nav-item {
    display: inline-flex; /* Ajuste para garantir que os itens fiquem alinhados */
}

.header__nav-link {
    color: #26601B;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    will-change: transform, background-color;
    padding: 12px 20px;
    border-radius: 30px;
}

.header__nav-link:hover {
    color: #26601B; /* Tom verde mais escuro */
    background-color: #c8e6c9;
    border-radius: 35px;
    transform: scale(1.02); /* Aumenta um pouco menos */
}

.header__nav-link--login {
    padding: 12px 36px;
    background-color: #006eff88; /* Cor de fundo inicial */
    color: #fff; /* Cor do texto inicial */
}

.header__nav-link--login:hover {
    background-color: #006eff88; /* Cor de fundo ao passar o mouse */
    color: #0042c78e; /* Cor do texto ao passar o mouse */
    transform: scale(1.05); /* Aumenta um pouco mais */
}

.header__nav-link--register {
    padding: 12px 36px;
    background-color: #7fbf7f; /* Cor de fundo inicial */
    color: #fff; /* Cor do texto inicial */
}

.header__nav-link--register:hover {
    background-color: #7fbf7f; /* Cor de fundo ao passar o mouse */
    color: #38692E; /* Cor do texto ao passar o mouse */
    transform: scale(1.05); /* Aumenta um pouco mais */
}

.header__menu-toggle {
    display: none; /* Esconde o botão hamburger por padrão */
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #38692E;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-left: auto;
    margin-top: 0; /* Remove o ajuste superior */
}

/* Media Query para telas menores */
@media (max-width: 768px) {
    .header {
        padding: 5px 20px; /* Reduzir padding para diminuir a altura */
    }

    .header__content {
        flex-direction: row; /* Mantém os itens em linha */
        justify-content: space-between; /* Espaça os itens */
        align-items: center; /* Alinha verticalmente */
    }

    .header__nav {
        display: none; /* Esconde o menu padrão */
        flex-direction: column;
        width: 100%;
        background-color: #fff; /* ou a cor de fundo do seu header */
        position: absolute;
        top: 100%;
        left: 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .header__nav-list {
        flex-direction: column;
        width: 100%;
    }

    .header__nav-item {
        width: 100%;
        text-align: center;
    }

    .header__nav-link {
        width: 100%;
        padding: 15px;
    }

    .header__nav--open {
        display: flex; /* Mostra o menu quando aberto */
    }

    .header__menu-toggle {
        display: flex; /* Mostra o botão hamburger em telas menores */
    }

    .header__nav-link--login, .header__nav-link--register {
        padding: 12px 36px;
    }
}