/* -------------------------------------------
   SEÇÃO COM IMAGEM DE FUNDO
-------------------------------------------- */

.seção-imagem {
    height: 510px;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5)), /* Sobreposição escura */
        url('https://s3-alpha-sig.figma.com/img/2f54/3be5/027fe67e992b2ed75fae634414dbaf55?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=NEcrJZGxSonDfcOU3ll2daZ7V9c3TzroT9XDoxkUGsguWQ9k4eZJSv-SG6GEgFMNDzV09VNo3~YPXZqvvtOlxUWK-ImZKmQbLBYjiPAr2YFzDEU0QJTjjg0v-BSBUnfVZDTe4fRrHnq-2FhCNizKbDpT0FAXEPXkpnmvqNRZCQWFtcarv-IIDHU~kfpXIyRRbrtDJ2otTehVTYZkpNU0BhinCFs4ACVERVhyObgupiVA3BQAMSPTegQ9uuPstmR735AG~gnvcZaV4gMYQtNEvzV~q59ANMFOpX~u-pY3BS2QHncg9u5ZbOuUSuEjwkEQhRXcfJyVWqmjeU10AvBBpQ__'); /* Imagem de fundo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content:center;
    align-items: center;
    color: #ffffff;
    text-align: center;
    flex-direction: column; /* Movido para dentro do bloco principal */
}

/* Estilo para o título h2 */
.seção-imagem h2 {
    font-family: 'Inter' , sans-serif;
    font-size: 36px; 
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

/* Estilo para o parágrafo */
.seção-imagem p {
    font-family: 'Inter' , sans-serif;
    font-size: 22px;
    margin-top: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
    line-height: 1.6;
    max-width: 1000px;
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
    .seção-imagem {
        height: 350px; /* Altura reduzida em telas pequenas */
    }

    .seção-imagem h2 {
        font-size: 28px; /* Tamanho do título reduzido */
    }

    .seção-imagem p {
        font-size: 16px; /* Tamanho do texto ajustado */
        padding: 0 15px; /* Adiciona padding nas laterais para melhor leitura */
    }
}
